---
export const prerender = true;

import { type CollectionEntry, getCollection, render } from "astro:content";
import BackToPrev from "~/components/BackToPrev.astro";
import Container from "~/components/Container.astro";
import FormattedDate from "~/components/FormattedDate.astro";
import ViewCount from "~/components/ViewCount.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import { readingTime, sortByDate } from "~/lib/utils";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).filter((post) => !post.data.draft).sort(sortByDate);
  return posts.map((post, index) => ({
    params: { slug: post.id },
    props: {
      post,
      newerPost: index > 0 ? posts[index - 1] : undefined,
      olderPost: index < posts.length - 1 ? posts[index + 1] : undefined,
    },
  }));
}
type Props = {
  post: CollectionEntry<"blog">;
  newerPost?: CollectionEntry<"blog">;
  olderPost?: CollectionEntry<"blog">;
};

const { post, newerPost, olderPost } = Astro.props;
const { Content } = await render(post);
const newerUrl = newerPost ? `/blog/${newerPost.id}` : undefined;
const olderUrl = olderPost ? `/blog/${olderPost.id}` : undefined;
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  image={`/${post.collection}/${post.id}.png`}
>
  <Container>
    <div id="post-nav" data-newer={newerUrl} data-older={olderUrl} hidden></div>
    <div class="animate">
      <BackToPrev> Back </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="title-render animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
        <ViewCount slug={`blog/${post.id}/`} />
      </div>
      <div class="title-render animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>
