---
import { cn } from "~/lib/utils";

interface Props {
  href?: string;
  id?: string;
  ariaLabel?: string;
  class?: string;
}

const { href, id, ariaLabel, class: className } = Astro.props;
const classes = cn(
  "relative group inline-flex w-fit items-center gap-2 px-3 py-1.5 flex-nowrap rounded-sm border border-black/15 text-sm transition-[color,background-color,transform] duration-300 ease-in-out hover:bg-black/5 hover:text-black active:scale-[0.96] dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white hover:cursor-pointer",
  className,
);
---

{
  href ? (
    <a href={href} id={id} aria-label={ariaLabel} class={classes}>
      <slot />
    </a>
  ) : (
    <button type="button" id={id} aria-label={ariaLabel} class={classes}>
      <slot />
    </button>
  )
}
